<%- include('partials/profile-recipe-groceries-header') -%>

<!-- user name and total ingredients container -->
<div class="container mt-5 pt-5 text-light">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 mt-3 mb-3">
      <h1 class="text-center h1">Hey there, <%- user.userName %>!</h1>
      <p class="text-center h4 mt-3">You've shared over <strong><%- recipes.length %> recipe(s)!</strong> Thanks for being a great member of the community.</p>
      <p class="text-center h4 mt-3">What are you going to create today?</p>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<!-- breakfast card container -->
<div class="container mt-5">
  <h3 class="text-light border-bottom border-3 mb-3">Breakfast Recipes</h3>
  <div class="row">

    <!-- all breakfast card -->
    <div class="col-sm mb-3 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="/images/breakfasts/all.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><strong>All Breakfasts</strong></p>
          <a href="/breakfast-recipes/breakfast-all" class="btn btn-outline-primary">View Recipes</a>
        </div>
      </div>
    </div>
    
    <!-- gluten free breakfast card -->
    <div class="col-sm mb-3 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="/images/breakfasts/gluten-free.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><strong>Gluten-Free Breakfasts</strong></p>
          <a href="/breakfast-recipes/breakfast-gluten-free" class="btn btn-outline-primary">View Recipes</a>
        </div>
      </div>
    </div>

    <!-- vegan breakfast card -->
    <div class="col-sm mb-3 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="/images/breakfasts/vegan.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><strong>Vegan Breakfasts</strong></p>
          <a href="/breakfast-recipes/breakfast-vegan" class="btn btn-outline-primary">View Recipes</a>
        </div>
      </div>
    </div>

    <!-- vegetarian breakfast card --> 
    <div class="col-sm mb-3 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="/images/breakfasts/vegetarian.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><strong>Vegetarian Breakfasts</strong></p>
          <a href="breakfast-recipes/breakfast-vegetarian" class="btn btn-outline-primary">View Recipes</a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Entrée card container -->
<div class="container mt-5">
  <h3 class="text-light border-bottom border-3 mb-3">Entrée Recipes</h3>
  <div class="row">

    <!-- all entrée card -->
    <div class="col-sm mb-3 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="/images/entrees/all.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><strong>All Entrées</strong></p>
          <a href="/entree-recipes/entree-all" class="btn btn-outline-primary">View Recipes</a>
        </div>
      </div>
    </div>

    <!-- gluten free entrée card -->
    <div class="col-sm mb-3 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="/images/entrees/gluten-free.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><strong>Gluten Free Entrées</strong></p>
          <a href="/entree-recipes/entree-gluten-free" class="btn btn-outline-primary">View Recipes</a>
        </div>
      </div>
    </div>

    <!-- vegan entrée card -->
    <div class="col-sm mb-3 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="/images/entrees/vegan.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><strong>Vegan Entrées</strong></p>
          <a href="/entree-recipes/entree-vegan" class="btn btn-outline-primary">View Recipes</a>
        </div>
      </div>
    </div>

    <!-- vegetarian entrée card --> 
    <div class="col-sm mb-3 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="/images/entrees/vegetarian.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><strong>Vegetarian Entrées</strong></p>
          <a href="/entree-recipes/entree-vegetarian" class="btn btn-outline-primary">View Recipes</a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- dessert card container -->
<div class="container mt-5">
  <h3 class="text-light border-bottom border-3 mb-3">Dessert Recipes</h3>
  <div class="row">

    <!-- all dessert card -->
    <div class="col-sm mb-3 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="/images/desserts/all.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><strong>All Desserts</strong></p>
          <a href="/dessert-recipes/dessert-all" class="btn btn-outline-primary">View Recipes</a>
        </div>
      </div>
    </div>

    <!-- gluten free dessert card -->
    <div class="col-sm mb-3 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="/images/desserts/gluten-free.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><strong>Gluten Free Desserts</strong></p>
          <a href="/dessert-recipes/dessert-gluten-free" class="btn btn-outline-primary">View Recipes</a>
        </div>
      </div>
    </div>

    <!-- vegan dessert card -->
    <div class="col-sm mb-3 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="/images/desserts/vegan.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><strong>Vegan Desserts</strong></p>
          <a href="/dessert-recipes/dessert-vegan" class="btn btn-outline-primary">View Recipes</a>
        </div>
      </div>
    </div>

    <!-- vegetarian dessert card --> 
    <div class="col-sm mb-3 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="/images/desserts/vegetarian.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><strong>Vegetarian Desserts</strong></p>
          <a href="/dessert-recipes/dessert-vegetarian" class="btn btn-outline-primary">View Recipes</a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- sides card container -->
<div class="container mt-5">
  <h3 class="text-light border-bottom border-3 mb-3">Side Recipes</h3>
  <div class="row">

    <!-- gluten free sides card -->
    <div class="col-sm mb-3 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="/images/generic-breakfast.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><strong>Gluten Free Sides</strong></p>
          <a href="#" class="btn btn-outline-primary">View Recipes</a>
        </div>
      </div>
    </div>

    <!-- vegan sides card -->
    <div class="col-sm mb-3 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="/images/generic-breakfast.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><strong>Vegan Sides</strong></p>
          <a href="#" class="btn btn-outline-primary">View Recipes</a>
        </div>
      </div>
    </div>

    <!-- vegetarian sides card --> 
    <div class="col-sm mb-3 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="/images/generic-breakfast.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><strong>Vegetarian Sides</strong></p>
          <a href="#" class="btn btn-outline-primary">View Recipes</a>
        </div>
      </div>
    </div>

    <!-- all sides card -->
    <div class="col-sm mb-3 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="/images/generic-breakfast.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><strong>All Sides</strong></p>
          <a href="#" class="btn btn-outline-primary">View Recipes</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- snacks card container -->
<div class="container mt-5">
  <h3 class="text-light border-bottom border-3 mb-3">Snack Recipes</h3>
  <div class="row">

    <!-- gluten free snacks card -->
    <div class="col-sm mb-3 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="/images/generic-breakfast.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><strong>Gluten Free Snacks</strong></p>
          <a href="#" class="btn btn-outline-primary">View Recipes</a>
        </div>
      </div>
    </div>

    <!-- vegan snacks card -->
    <div class="col-sm mb-3 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="/images/generic-breakfast.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><strong>Vegan Snacks</strong></p>
          <a href="#" class="btn btn-outline-primary">View Recipes</a>
        </div>
      </div>
    </div>

    <!-- vegetarian snacks card --> 
    <div class="col-sm mb-3 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="/images/generic-breakfast.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><strong>Vegetarian Snacks</strong></p>
          <a href="#" class="btn btn-outline-primary">View Recipes</a>
        </div>
      </div>
    </div>

    <!-- all snacks card -->
    <div class="col-sm mb-3 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="/images/generic-breakfast.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><strong>All Snacks</strong></p>
          <a href="#" class="btn btn-outline-primary">View Recipes</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- drinks card container -->
<div class="container mt-5 pb-5 mb-5">
  <h3 class="text-light border-bottom border-3 mb-3">Drink Recipes</h3>
  <div class="row">

    <!-- gluten free drinks card -->
    <div class="col-sm mb-3 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="/images/generic-breakfast.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><strong>Gluten Free Drinks</strong></p>
          <a href="#" class="btn btn-outline-primary">View Recipes</a>
        </div>
      </div>
    </div>

    <!-- vegan drinks card -->
    <div class="col-sm mb-3 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="/images/generic-breakfast.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><strong>Vegan Drinks</strong></p>
          <a href="#" class="btn btn-outline-primary">View Recipes</a>
        </div>
      </div>
    </div>

    <!-- vegetarian drinks card --> 
    <div class="col-sm mb-3 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="/images/generic-breakfast.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><strong>Vegetarian Drinks</strong></p>
          <a href="#" class="btn btn-outline-primary">View Recipes</a>
        </div>
      </div>
    </div>

    <!-- all drinks card -->
    <div class="col-sm mb-3 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="/images/generic-breakfast.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><strong>All Drinks</strong></p>
          <a href="#" class="btn btn-outline-primary">View Recipes</a>
        </div>
      </div>
    </div>
  </div>
</div>
                                
<!-- breakfast recipe table -->
<!-- <div class="container mt-5 border border-1 recipe-table-background">
  <h2 class="mt-3">Breakfast Recipes</h2>
  <table class="table table-hover table-striped mt-3 mb-3">
    <thead>
      <tr>
        <th scope="col">Recipe Name</th>
        <th scope="col">Gluten-Free</th>
        <th scope="col">Vegan</th>
        <th scope="col">Vegetarian</th>
        <th scope="col">Prep Time</th>
        <th scope="col">Bake/Cook Time</th>
        <th scope="col">Total Time</th>
        <th scope="col">View</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <% recipes.forEach(recipe => { %>
          <% if (recipe.type === "Breakfast") { %>
            <td class="align-middle"><%= recipe.recipeName %></td>
            <td class="align-middle"><%= recipe.glutenFree ? 'Yes' : 'No' %></td>
            <td class="align-middle"><%= recipe.vegan ? 'Yes' : 'No' %></td>
            <td class="align-middle"><%= recipe.vegetarian ? 'Yes' : 'No' %></td>
            <td class="align-middle"><%= recipe.prepTime %></td>
            <td class="align-middle"><%= recipe.bakeOrCookTime %></td>
            <td class="align-middle"><%= recipe.totalTime %></td>
            <td class="align-middle"><a class="btn btn-outline-primary" href="/recipes/<%= recipe._id %>">View</a></td>        
            <td class="align-middle">
              <form action="/recipes/deleteRecipe/<%= recipe._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-outline-danger">Delete</button>
              </form>
            </td>
          </tr>
          <% } %> 
        <% }) %>
      </tr>
    </tbody>
  </table>
</div> -->

<!-- entrée recipe table -->
<!-- <div class="container mt-5 border border-1 recipe-table-background">
  <h2 class="mt-3">Entrée Recipes</h2>
  <table class="table table-hover table-striped mt-3 mb-3">
    <thead>
      <tr>
        <th scope="col">Recipe Name</th>
        <th scope="col">Gluten-Free</th>
        <th scope="col">Vegan</th>
        <th scope="col">Vegetarian</th>
        <th scope="col">Prep Time</th>
        <th scope="col">Bake/Cook Time</th>
        <th scope="col">Total Time</th>
        <th scope="col">View</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <% recipes.forEach(recipe => { %>
          <% if (recipe.type === "Entrée") { %>
            <td class="align-middle"><%= recipe.recipeName %></td>
            <td class="align-middle"><%= recipe.glutenFree ? 'Yes' : 'No' %></td>
            <td class="align-middle"><%= recipe.vegan ? 'Yes' : 'No' %></td>
            <td class="align-middle"><%= recipe.vegetarian ? 'Yes' : 'No' %></td>
            <td class="align-middle"><%= recipe.prepTime %></td>
            <td class="align-middle"><%= recipe.bakeOrCookTime %></td>
            <td class="align-middle"><%= recipe.totalTime %></td>
            <td class="align-middle"><a class="btn btn-outline-primary" href="/recipes/<%= recipe._id %>">View</a></td>        
            <td class="align-middle">
              <form action="/recipes/deleteRecipe/<%= recipe._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-outline-danger">Delete</button>
              </form>
            </td>
          </tr>
          <% } %> 
        <% }) %>
      </tr>
    </tbody>
  </table>
</div> -->

<!-- dessert recipe table -->
<!-- <div class="container mt-5 border border-1 recipe-table-background">
  <h2 class="mt-3">Dessert Recipes</h2>
  <table class="table table-hover table-striped mt-3 mb-3">
    <thead>
      <tr>
        <th scope="col">Recipe Name</th>
        <th scope="col">Gluten-Free</th>
        <th scope="col">Vegan</th>
        <th scope="col">Vegetarian</th>
        <th scope="col">Prep Time</th>
        <th scope="col">Bake/Cook Time</th>
        <th scope="col">Total Time</th>
        <th scope="col">View</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <% recipes.forEach(recipe => { %>
          <% if (recipe.type === "Dessert") { %>
            <td class="align-middle"><%= recipe.recipeName %></td>
            <td class="align-middle"><%= recipe.glutenFree ? 'Yes' : 'No' %></td>
            <td class="align-middle"><%= recipe.vegan ? 'Yes' : 'No' %></td>
            <td class="align-middle"><%= recipe.vegetarian ? 'Yes' : 'No' %></td>
            <td class="align-middle"><%= recipe.prepTime %></td>
            <td class="align-middle"><%= recipe.bakeOrCookTime %></td>
            <td class="align-middle"><%= recipe.totalTime %></td>
            <td class="align-middle"><a class="btn btn-outline-primary" href="/recipes/<%= recipe._id %>">View</a></td>        
            <td class="align-middle">
              <form action="/recipes/deleteRecipe/<%= recipe._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-outline-danger">Delete</button>
              </form>
            </td>
          </tr>
          <% } %> 
        <% }) %>
      </tr>
    </tbody>
  </table>
</div> -->

<!-- side recipes -->
<!-- <div class="container mt-5 border border-1 recipe-table-background">
  <h2 class="mt-3">Side Recipes</h2>
  <table class="table table-hover table-striped mt-3 mb-3">
    <thead>
      <tr>
        <th scope="col">Recipe Name</th>
        <th scope="col">Gluten-Free</th>
        <th scope="col">Vegan</th>
        <th scope="col">Vegetarian</th>
        <th scope="col">Prep Time</th>
        <th scope="col">Bake/Cook Time</th>
        <th scope="col">Total Time</th>
        <th scope="col">View</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <% recipes.forEach(recipe => { %>
          <% if (recipe.type === "Side") { %>
            <td class="align-middle"><%= recipe.recipeName %></td>
            <td class="align-middle"><%= recipe.glutenFree ? 'Yes' : 'No' %></td>
            <td class="align-middle"><%= recipe.vegan ? 'Yes' : 'No' %></td>
            <td class="align-middle"><%= recipe.vegetarian ? 'Yes' : 'No' %></td>
            <td class="align-middle"><%= recipe.prepTime %></td>
            <td class="align-middle"><%= recipe.bakeOrCookTime %></td>
            <td class="align-middle"><%= recipe.totalTime %></td>
            <td class="align-middle"><a class="btn btn-outline-primary" href="/recipes/<%= recipe._id %>">View</a></td>        
            <td class="align-middle">
              <form action="/recipes/deleteRecipe/<%= recipe._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-outline-danger">Delete</button>
              </form>
            </td>
          </tr>
          <% } %> 
        <% }) %>
      </tr>
    </tbody>
  </table>
</div> -->

<!-- snack recipes -->
<!-- <div class="container mt-5 border border-1 recipe-table-background">
  <h2 class="mt-3">Snack Recipes</h2>
  <table class="table table-hover table-striped mt-3 mb-3">
    <thead>
      <tr>
        <th scope="col">Recipe Name</th>
        <th scope="col">Gluten-Free</th>
        <th scope="col">Vegan</th>
        <th scope="col">Vegetarian</th>
        <th scope="col">Prep Time</th>
        <th scope="col">Bake/Cook Time</th>
        <th scope="col">Total Time</th>
        <th scope="col">View</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <% recipes.forEach(recipe => { %>
          <% if (recipe.type === "Snack") { %>
            <td class="align-middle"><%= recipe.recipeName %></td>
            <td class="align-middle"><%= recipe.glutenFree ? 'Yes' : 'No' %></td>
            <td class="align-middle"><%= recipe.vegan ? 'Yes' : 'No' %></td>
            <td class="align-middle"><%= recipe.vegetarian ? 'Yes' : 'No' %></td>
            <td class="align-middle"><%= recipe.prepTime %></td>
            <td class="align-middle"><%= recipe.bakeOrCookTime %></td>
            <td class="align-middle"><%= recipe.totalTime %></td>
            <td class="align-middle"><a class="btn btn-outline-primary" href="/recipes/<%= recipe._id %>">View</a></td>        
            <td class="align-middle">
              <form action="/recipes/deleteRecipe/<%= recipe._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-outline-danger">Delete</button>
              </form>
            </td>
          </tr>
          <% } %> 
        <% }) %>
      </tr>
    </tbody>
  </table>
</div> -->

<!-- drink recipes -->
<!-- <div class="container mt-5 mb-5 border border-1 recipe-table-background">
  <h2 class="mt-3">Drink Recipes</h2>
  <table class="table table-hover table-striped mt-3 mb-3">
    <thead>
      <tr>
        <th scope="col">Recipe Name</th>
        <th scope="col">Gluten-Free</th>
        <th scope="col">Vegan</th>
        <th scope="col">Vegetarian</th>
        <th scope="col">Prep Time</th>
        <th scope="col">Bake/Cook Time</th>
        <th scope="col">Total Time</th>
        <th scope="col">View</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <% recipes.forEach(recipe => { %>
          <% if (recipe.type === "Drink") { %>
            <td class="align-middle"><%= recipe.recipeName %></td>
            <td class="align-middle"><%= recipe.glutenFree ? 'Yes' : 'No' %></td>
            <td class="align-middle"><%= recipe.vegan ? 'Yes' : 'No' %></td>
            <td class="align-middle"><%= recipe.vegetarian ? 'Yes' : 'No' %></td>
            <td class="align-middle"><%= recipe.prepTime %></td>
            <td class="align-middle"><%= recipe.bakeOrCookTime %></td>
            <td class="align-middle"><%= recipe.totalTime %></td>
            <td class="align-middle"><a class="btn btn-outline-primary" href="/recipes/<%= recipe._id %>">View</a></td>        
            <td class="align-middle">
              <form action="/recipes/deleteRecipe/<%= recipe._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-outline-danger">Delete</button>
              </form>
            </td>
          </tr>
          <% } %> 
        <% }) %>
      </tr>
    </tbody>
  </table>
</div> -->

<%- include('partials/profile-recipe-footer') -%>