<%- include('partials/every-other-page-header') -%>

<div class="container">
  <div class="col-12">
    <div class="mt-3">
      <h1>Add a recipe</h1>
      <form action="/post/createRecipe" enctype="multipart/form-data" method="POST">

          <!-- recipe name -->
          <div class="mb-3">
              <label for="recipeName" class="form-label"><strong>Recipe Name</strong></label>
              <input type="text" class="form-control" id="recipeName" name="recipeName">
          </div>

          <!-- type, vegan, vegetarian, gluten-free -->
          <!-- at medium width stack all the rows -->

          <div class="row mb-3">
            <!-- type -->
            <div class="col-3">
              <label for="type" class="form-label"><strong>Type</strong></label>
              <select class="form-select" id="type" name="type">
                <option selected>Choose...</option>
                <option value="Breakfast">Breakfast</option>
                <option value="Entrée">Entrée</option>
                <option value="Side">Side</option>
                <option value="Snack">Snack</option>
                <option value="Drink">Drink</option>
                <option value="Dessert">Dessert</option>
              </select>
            </div>

            <!-- vegan -->
            <div class="col-3">
              <label for="vegan" class="form-label"><strong>Vegan</strong></label>
              <select class="form-select" id="vegan" name="vegan">
                <option selected>Choose...</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </div>

            <!-- vegetarian -->
            <div class="col-3">
              <label for="vegetarian" class="form-label"><strong>Vegetarian</strong></label>
              <select class="form-select" id="vegetarian" name="vegetarian">
                <option selected>Choose...</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>            
            </div>

            <!-- gluten-free -->
            <div class="col-3">
              <label for="glutenFree" class="form-label"><strong>Gluten-Free</strong></label>
              <select class="form-select" id="glutenFree" name="glutenFree">
                <option selected>Choose...</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </div>
          </div>
        
          <!-- description -->
          <div class="mb-3">
            <label for="description" class="form-label"><strong>Description</strong></label>
            <textarea type="text" class="form-control" id="description" name="description" rows="10"></textarea>
          </div>

          <!-- prep, bake/cook, total time -->
          <div class="row mb-3 mt-3">
            <div class="col">
              <label for="prepTime" class="form-label"><strong>Prep Time</strong></label>
              <input type="text" class="form-control" id="prepTime" name="prepTime">
            </div>
            <div class="col">
              <label for="cookTime" class="form-label"><strong>Cook Time</strong></label>
              <input type="text" class="form-control" id="cookTime" name="cookTime">
            </div>
            <div class="col">
              <label for="totalTime" class="form-label"><strong>Total Time</strong></label>
              <input type="text" class="form-control" id="totalTime" name="totalTime">
            </div>
          </div>

          <!-- ingredients -->
          <div class="mb-3">
            <label for="name" class="form-label"><strong>Ingredients</strong></label>
            <div class="ingredientList">
              <div class="ingredientDiv mb-1">
                <input type="text" name="ingredients" class="form-control">
              </div>
            </div>
          </div>
          <div class="mb-3">
            <button type="button" class="btn btn-outline-primary" id="addIngredientsBtn">+ Ingredient</button>
            <button type="button" class="btn btn-outline-primary" id="minusIngredientsBtn">- Ingredient</button>
          </div>

          <!-- directions -->
          <div class="mb-3">
            <label for="name" class="form-label"><strong>Directions</strong></label>
            <div class="directionList">
              <div class="directionDiv mb-1">
                <input type="text" name="directions" class="form-control">
              </div>
            </div>
          </div>
          <div class="mb-3">
            <button type="button" class="btn btn-outline-primary" id="addDirectionsBtn">+ Direction</button>
            <button type="button" class="btn btn-outline-primary" id="minusDirectionsBtn">- Direction</button>
          </div>

          <!-- special notes -->
          <div class="mb-3">
            <label for="specialNotes" class="form-label"><strong>Special Notes</strong></label>
            <textarea type="text" class="form-control" id="specialNotes" name="specialNotes" rows="5"></textarea>
          </div>

          <!-- image -->
          <div class="mb-3">
            <label for="imgUpload" class="form-label"><strong>Image</strong></label>
            <input type="file" class="form-control" id="imageUpload" name="file">
          </div>

          <!-- submit button -->
          <button type="submit" class="btn btn-primary" value="Upload">Submit</button>

      </form>
    </div>
  </div>
</div>
                                
<!-- breakfast recipe table -->
<div class="container mt-5">
  <h2>Breakfast Recipes</h2>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Recipe Name</th>
        <th scope="col">Type</th>
        <th scope="col">Prep Time</th>
        <th scope="col">Bake/Cook Time</th>
        <th scope="col">Total Time</th>
        <th scope="col">View</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <% recipes.forEach(recipe => { %>
          <% if (recipe.type === "Breakfast") { %>
            <td><%= recipe.recipeName %></td>
            <td><%= recipe.type %></td>
            <td><%= recipe.prepTime %></td>
            <td><%= recipe.cookTime %></td>
            <td><%= recipe.totalTime %></td>
            <td><a class="btn btn-primary" href="/post/<%= recipe._id %>">View</a></td>
            <td>
              <form action="/post/deleteRecipe/<%= recipe._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          <% } %> 
        <% }) %>
      </tr>
    </tbody>
  </table>
</div>

<!-- entrée recipe table -->
<div class="container mt-5">
  <h2>Entrée Recipes</h2>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Recipe Name</th>
        <th scope="col">Type</th>
        <th scope="col">Prep Time</th>
        <th scope="col">Bake/Cook Time</th>
        <th scope="col">Total Time</th>
        <th scope="col">View</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <% recipes.forEach(recipe => { %>
          <% if (recipe.type === "Entrée") { %>
            <td><%= recipe.recipeName %></td>
            <td><%= recipe.type %></td>
            <td><%= recipe.prepTime %></td>
            <td><%= recipe.cookTime %></td>
            <td><%= recipe.totalTime %></td>
            <td><a class="btn btn-primary" href="/post/<%= recipe._id %>">View</a></td>        
            <td>
              <form action="/post/deleteRecipe/<%= recipe._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          <% } %> 
        <% }) %>
      </tr>
    </tbody>
  </table>
</div>

<!-- dessert recipe table -->
<div class="container mt-5">
  <h2>Dessert Recipes</h2>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Recipe Name</th>
        <th scope="col">Gluten-Free</th>
        <th scope="col">Vegan</th>
        <th scope="col">Vegetarian</th>
        <th scope="col">Prep Time</th>
        <th scope="col">Bake/Cook Time</th>
        <th scope="col">Total Time</th>
        <th scope="col">View</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <% recipes.forEach(recipe => { %>
          <% if (recipe.type === "Dessert") { %>
            <td><%= recipe.recipeName %></td>
            <td><%= recipe.glutenFree ? 'Yes' : 'No' %></td>
            <td><%= recipe.vegan ? 'Yes' : 'No' %></td>
            <td><%= recipe.vegetarian ? 'Yes' : 'No' %></td>
            <td><%= recipe.prepTime %></td>
            <td><%= recipe.cookTime %></td>
            <td><%= recipe.totalTime %></td>
            <td><a class="btn btn-primary" href="/post/<%= recipe._id %>">View</a></td>        
            <td>
              <form action="/post/deleteRecipe/<%= recipe._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          <% } %> 
        <% }) %>
      </tr>
    </tbody>
  </table>
</div>

<!-- side recipes -->
<div class="container mt-5">
  <h2>Side Recipes</h2>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Recipe Name</th>
        <th scope="col">Gluten-Free</th>
        <th scope="col">Vegan</th>
        <th scope="col">Vegetarian</th>
        <th scope="col">Prep Time</th>
        <th scope="col">Bake/Cook Time</th>
        <th scope="col">Total Time</th>
        <th scope="col">View</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <% recipes.forEach(recipe => { %>
          <% if (recipe.type === "Side") { %>
            <td><%= recipe.recipeName %></td>
            <td><%= recipe.glutenFree ? 'Yes' : 'No' %></td>
            <td><%= recipe.vegan ? 'Yes' : 'No' %></td>
            <td><%= recipe.vegetarian ? 'Yes' : 'No' %></td>
            <td><%= recipe.prepTime %></td>
            <td><%= recipe.cookTime %></td>
            <td><%= recipe.totalTime %></td>
            <td><a class="btn btn-primary" href="/post/<%= recipe._id %>">View</a></td>        
            <td>
              <form action="/post/deleteRecipe/<%= recipe._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          <% } %> 
        <% }) %>
      </tr>
    </tbody>
  </table>
</div>

<!-- snack recipes -->
<div class="container mt-5">
  <h2>Snack Recipes</h2>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Recipe Name</th>
        <th scope="col">Gluten-Free</th>
        <th scope="col">Vegan</th>
        <th scope="col">Vegetarian</th>
        <th scope="col">Prep Time</th>
        <th scope="col">Bake/Cook Time</th>
        <th scope="col">Total Time</th>
        <th scope="col">View</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <% recipes.forEach(recipe => { %>
          <% if (recipe.type === "Snack") { %>
            <td><%= recipe.recipeName %></td>
            <td><%= recipe.glutenFree ? 'Yes' : 'No' %></td>
            <td><%= recipe.vegan ? 'Yes' : 'No' %></td>
            <td><%= recipe.vegetarian ? 'Yes' : 'No' %></td>
            <td><%= recipe.prepTime %></td>
            <td><%= recipe.cookTime %></td>
            <td><%= recipe.totalTime %></td>
            <td><a class="btn btn-primary" href="/post/<%= recipe._id %>">View</a></td>        
            <td>
              <form action="/post/deleteRecipe/<%= recipe._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          <% } %> 
        <% }) %>
      </tr>
    </tbody>
  </table>
</div>

<!-- drink recipes -->
<div class="container mt-5 mb-5">
  <h2>Drink Recipes</h2>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Recipe Name</th>
        <th scope="col">Gluten-Free</th>
        <th scope="col">Vegan</th>
        <th scope="col">Vegetarian</th>
        <th scope="col">Prep Time</th>
        <th scope="col">Bake/Cook Time</th>
        <th scope="col">Total Time</th>
        <th scope="col">View</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <% recipes.forEach(recipe => { %>
          <% if (recipe.type === "Drink") { %>
            <td><%= recipe.recipeName %></td>
            <td><%= recipe.glutenFree ? 'Yes' : 'No' %></td>
            <td><%= recipe.vegan ? 'Yes' : 'No' %></td>
            <td><%= recipe.vegetarian ? 'Yes' : 'No' %></td>
            <td><%= recipe.prepTime %></td>
            <td><%= recipe.cookTime %></td>
            <td><%= recipe.totalTime %></td>
            <td><a class="btn btn-primary" href="/post/<%= recipe._id %>">View</a></td>        
            <td>
              <form action="/post/deleteRecipe/<%= recipe._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          <% } %> 
        <% }) %>
      </tr>
    </tbody>
  </table>
</div>

<%- include('partials/every-other-page-footer') -%>