<%- include('partials/header') -%>

<div class="container">
  <div class="">
      <div class="">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Add a recipe</h2>
            <form action="/post/createRecipe" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="recipeName" class="form-label">Recipe Name</label>
                  <input type="text" class="form-control" id="recipeName" name="recipeName">
              </div>
              <div class="mb-3">
                <label for="type" class="form-label">Type</label>
                <input type="text" class="form-control" id="type" name="type">
              </div>
              <div class="mb-3">
                <label for="prepTime" class="form-label">Prep Time</label>
                <input type="text" class="form-control" id="prepTime" name="prepTime">
              </div>
              <div class="mb-3">
                <label for="cookTime" class="form-label">Cook Time</label>
                <input type="text" class="form-control" id="cookTime" name="cookTime">
              </div>
              <div class="mb-3">
                <label for="totalTime" class="form-label">Total Time</label>
                <input type="text" class="form-control" id="totalTime" name="totalTime">
              </div>
              <div class="mb-3">
                <label for="ingredients" class="form-label">Ingredients</label>
                <textarea type="text" placeholder="enter ingredients separated by commas" class="form-control" id="ingredients" name="ingredients"></textarea>
              </div>
              <div class="mb-3">
                <label for="directions" class="form-label">Directions</label>
                <textarea type="text" placeholder="enter directions separated by periods" class="form-control" id="directions" name="directions"></textarea>
              </div>
              <div class="mb-3">
                <label for="specialNotes" class="form-label">Special Notes</label>
                <textarea class="form-control" id="specialNotes" name="specialNotes"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Recipe Name</th>
        <th scope="col">Type</th>
        <th scope="col">Total Time</th>
        <th scope="col">View</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <% recipes.forEach(recipe => { %>
          <td><%= recipe.recipeName %></td>
          <td><%= recipe.type %></td>
          <td><%= recipe.totalTime %></td>
          <td><a href="/post/<%= recipe._id %>" class="btn btn-primary">View</a></td>
          <!-- form with my methodoverride to delete the recipe by id-->
          <td>
            <form action="/post/deleteRecipe/<%= recipe._id %>?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </td>
        <% }) %>
      </tr>
    </tbody>
  </table>
</div>

<%- include('partials/footer') -%>