<%- include('partials/every-other-page-header') -%>

<div class="container">
  <div class="col-6">
      <div class="">
          <!-- <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
          </div> -->
          <div class="mt-3">
            <h1>Add a recipe</h1>
            <form action="/post/createRecipe" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="recipeName" class="form-label"><strong>Recipe Name</strong></label>
                  <input type="text" class="form-control" id="recipeName" name="recipeName">
              </div>
              <div class="form-group mb-3">
                <label for="type" class="form-label"><strong>Type</strong></label>
                <select class="form-select" id="type" name="type">
                  <option>Breakfast</option>
                  <option>Entrée</option>
                  <option>Dessert</option>
                  <option>Vegan</option>
                  <option>Vegetarian</option>
                </select>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <label for="prepTime" class="form-label"><strong>Prep Time</strong></label>
                  <input type="text" class="form-control" id="prepTime" name="prepTime">
                </div>
                <div class="col">
                  <label for="cookTime" class="form-label"><strong>Cook Time</strong></label>
                  <input type="text" class="form-control" id="cookTime" name="cookTime">
                </div>
                <div class="col">
                  <label for="totalTime" class="form-label"><strong>Total Time</strong></label>
                  <input type="text" class="form-control" id="totalTime" name="totalTime">
                </div>
              </div>
              <div class="mb-3 mt-3">
                <label for="ingredients" class="form-label"><strong>Ingredients</strong></label>
                <textarea type="text" placeholder="enter ingredients separated by commas" class="form-control" id="ingredients" name="ingredients"></textarea>
              </div>
              <div class="mb-3">
                <label for="directions" class="form-label"><strong>Directions</strong></label>
                <textarea type="text" placeholder="enter directions separated by periods" class="form-control" id="directions" name="directions"></textarea>
              </div>
              <div class="mb-3">
                <label for="specialNotes" class="form-label"><strong>Special Notes</strong></label>
                <textarea type="text" class="form-control" id="specialNotes" name="specialNotes"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label"><strong>Image</strong></label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- breakfast recipe table -->
<div class="container mt-5">
  <h2>Breakfast Recipes</h2>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Recipe Name</th>
        <th scope="col">Type</th>
        <th scope="col">Prep Time</th>
        <th scope="col">Bake/Cook Time</th>
        <th scope="col">Total Time</th>
        <th scope="col">View</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <% recipes.forEach(recipe => { %>
          <% if (recipe.type === "Breakfast") { %>
            <td><%= recipe.recipeName %></td>
            <td><%= recipe.type %></td>
            <td><%= recipe.prepTime %></td>
            <td><%= recipe.cookTime %></td>
            <td><%= recipe.totalTime %></td>
            <td><a class="btn btn-primary" href="/post/<%= recipe._id %>">View</a></td>
            <!-- form with my methodoverride to delete the recipe by id-->
            <td>
              <form action="/post/deleteRecipe/<%= recipe._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          <% } %> 
        <% }) %>
      </tr>
    </tbody>
  </table>
</div>

<!-- entrée recipe table -->
<div class="container mt-5">
  <h2>Entrée Recipes</h2>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Recipe Name</th>
        <th scope="col">Type</th>
        <th scope="col">Prep Time</th>
        <th scope="col">Bake/Cook Time</th>
        <th scope="col">Total Time</th>
        <th scope="col">View</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <% recipes.forEach(recipe => { %>
          <% if (recipe.type === "Entrée") { %>
            <td><%= recipe.recipeName %></td>
            <td><%= recipe.type %></td>
            <td><%= recipe.prepTime %></td>
            <td><%= recipe.cookTime %></td>
            <td><%= recipe.totalTime %></td>
            <td><a class="btn btn-primary" href="/post/<%= recipe._id %>">View</a></td>
            <!-- form with my methodoverride to delete the recipe by id-->
            <td>
              <form action="/post/deleteRecipe/<%= recipe._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          <% } %> 
        <% }) %>
      </tr>
    </tbody>
  </table>
</div>

<!-- dessert recipe table -->
<div class="container mt-5">
  <h2>Dessert Recipes</h2>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Recipe Name</th>
        <th scope="col">Type</th>
        <th scope="col">Prep Time</th>
        <th scope="col">Bake/Cook Time</th>
        <th scope="col">Total Time</th>
        <th scope="col">View</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <% recipes.forEach(recipe => { %>
          <% if (recipe.type === "Dessert") { %>
            <td><%= recipe.recipeName %></td>
            <td><%= recipe.type %></td>
            <td><%= recipe.prepTime %></td>
            <td><%= recipe.cookTime %></td>
            <td><%= recipe.totalTime %></td>
            <td><a class="btn btn-primary" href="/post/<%= recipe._id %>">View</a></td>
            <!-- form with my methodoverride to delete the recipe by id-->
            <td>
              <form action="/post/deleteRecipe/<%= recipe._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          <% } %> 
        <% }) %>
      </tr>
    </tbody>
  </table>
</div>

<!-- vegan recipe table -->
<div class="container mt-5">
  <h2>Vegan Recipes</h2>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Recipe Name</th>
        <th scope="col">Type</th>
        <th scope="col">Prep Time</th>
        <th scope="col">Bake/Cook Time</th>
        <th scope="col">Total Time</th>
        <th scope="col">View</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <% recipes.forEach(recipe => { %>
          <% if (recipe.type === "Vegan") { %>
            <td><%= recipe.recipeName %></td>
            <td><%= recipe.type %></td>
            <td><%= recipe.prepTime %></td>
            <td><%= recipe.cookTime %></td>
            <td><%= recipe.totalTime %></td>
            <td><a class="btn btn-primary" href="/post/<%= recipe._id %>">View</a></td>
            <!-- form with my methodoverride to delete the recipe by id-->
            <td>
              <form action="/post/deleteRecipe/<%= recipe._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          <% } %> 
        <% }) %>
      </tr>
    </tbody>
  </table>
</div>

<!-- vegetarian recipe table -->
<div class="container mt-5">
  <h2>Vegetarian Recipes</h2>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Recipe Name</th>
        <th scope="col">Type</th>
        <th scope="col">Prep Time</th>
        <th scope="col">Bake/Cook Time</th>
        <th scope="col">Total Time</th>
        <th scope="col">View</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <% recipes.forEach(recipe => { %>
          <% if (recipe.type === "Vegetarian") { %>
            <td><%= recipe.recipeName %></td>
            <td><%= recipe.type %></td>
            <td><%= recipe.prepTime %></td>
            <td><%= recipe.cookTime %></td>
            <td><%= recipe.totalTime %></td>
            <td><a class="btn btn-primary" href="/post/<%= recipe._id %>">View</a></td>
            <!-- form with my methodoverride to delete the recipe by id-->
            <td>
              <form action="/post/deleteRecipe/<%= recipe._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          <% } %> 
        <% }) %>
      </tr>
    </tbody>
  </table>
</div>

<%- include('partials/every-other-page-footer') -%>