<%- include('partials/every-other-page-header') -%>

<div class="container">
  <div class="row">
    <div class="col-6">
      <h1><%= recipe.recipeName %> - <%= recipe.type %></h1>
      <img class="img-fluid img-thumbnail" src="<%= recipe.image %>" alt="recipe image">
    </div>

    <div class="col-6">
      <h2>Info</h2>
      <ul>
        <li><strong>Prep Time:</strong> <%= recipe.prepTime %></li>
        <li><strong>Bake/Cook Time:</strong> <%= recipe.cookTime %></li>
        <li><strong>Total Time:</strong> <%= recipe.totalTime %></li>
        <li><strong>Vegan:</strong> <%= recipe.vegan ? 'Yes' : 'No' %></li>
        <li><strong>Vegetarian:</strong> <%= recipe.vegetarian ? 'Yes' : 'No' %></li>
        <li><strong>Gluten-Free:</strong> <%= recipe.glutenFree ? 'Yes' : 'No' %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-3">
  <h2>Ingredients</h2>
      <table class="table table-hover table-striped">
        <tbody>
          <% for (let i = 0; i < recipe.ingredients.length; i++) { %>
            <tr>
              <td><%= recipe.ingredients[i] %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
</div>

<div class="container mt-3">
  <h2>Directions</h2>
      <table class="table table-hover table-striped">
        <tbody>
          <% for (let i = 0; i < recipe.directions.length; i++) { %>
            <tr>
              <td><strong><%= i + 1 %>.</strong>   <%= recipe.directions[i] %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
</div>

<div class="container mb-3">
  <h2>Special Notes</h2>
  <p><%= recipe.specialNotes %></p>
</div>

<%- include('partials/edit-recipe-modal') -%>
<%- include('partials/every-other-page-footer') -%>
