<%- include('partials/profile-recipe-groceries-header') -%>

<!-- recipe name, info container -->
<div class="container mt-5 bg-light border border-5 rounded-5">
  <!-- recipe name & image  -->
  <div>
    <div class="col-sm">
      <h1 class="text-center google-font display-3"><strong><%= recipe.recipeName %></strong></h1>
      <img class="d-block mx-auto img-fluid img-thumbnail" src="<%= recipe.image ? recipe.image : '' %>" alt="<%= recipe.recipeName %>">
    </div>
  </div>

  <!-- recipe info -->
  <div class="">
    <div class="col-sm d-flex justify-content-center align-items-center">
      <ul class="list-group">
        <h1 class="text-center google-font display-4"><strong>Info</strong></h1>
        <li class="list-group-item"><i class="fa-regular fa-clock"></i> <strong>Prep Time:</strong> <%= recipe.prepTime ? recipe.prepTime : 'n/a' %> </li>
        <li class="list-group-item"><i class="fa-regular fa-clock"></i> <strong>Bake/Cook Time:</strong> <%= recipe.bakeOrCookTime ? recipe.bakeOrCookTime : 'n/a' %></li>
        <li class="list-group-item"><i class="fa-regular fa-clock"></i> <strong>Total Time:</strong> <%= recipe.totalTime ? recipe.totalTime : 'n/a' %></li>
        <li class="list-group-item"><strong>Gluten-Free:</strong> <%= recipe.glutenFree ? 'Yes' : 'No' %></li>
        <li class="list-group-item"><strong>Vegan:</strong> <%= recipe.vegan ? 'Yes' : 'No' %></li>
        <li class="list-group-item"><strong>Vegetarian:</strong> <%= recipe.vegetarian ? 'Yes' : 'No' %></li>
      </ul>
    </div>
  </div>

  <!-- description -->
  <div class="mt-5">
    <h2 class="text-center google-font display-4"><strong>Description</strong></h2>
    <p class="text-center"><%= recipe.description %></p>
  </div>

  <!-- ingredient table -->
  <div class="mt-5">
    <h2 class="text-center google-font display-4"><strong></strong></h2>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th class="text-center" scope="col">Amount</th>
            <th class="text-center" scope="col">Unit</th>
            <th class="text-center" scope="col">Name</th>
            <th class="text-center" scope="col">Instructions</th>
            <th class="text-center" scope="col">Add Item to Grocery List</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < recipe.ingredientAmount.length; i++) { %>
            <tr>
              <td class="text-center align-middle"><%= recipe.ingredientAmount[i] ? recipe.ingredientAmount[i] : "-" %></td>
              <td class="text-center align-middle"><%= recipe.ingredientUnit[i] ? recipe.ingredientUnit[i] : "-" %></td>
              <td class="text-center align-middle"><%= recipe.ingredientName[i] ? recipe.ingredientName[i] : "-" %></td>
              <td class="text-center align-middle"><%= recipe.ingredientInstructions[i] ? recipe.ingredientInstructions[i] : "-" %></td>
              <td class="text-center align-middle">
                <form class="text-center" action="/groceries/addIngredientName/<%= recipe.ingredientName[i] %>" method="POST">
                  <button type="submit" class="btn btn-primary addIngredientBtn">+ item</button>
                </form>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
  </div>

  <!-- direction table -->
  <div class="container mt-5">
    <h2 class="text-center google-font display-4"><strong>Directions</strong></h2>
        <table class="table table-hover table-striped">
          <tbody>
            <% for (let i = 0; i < recipe.directions.length; i++) { %>
              <tr>
                <td><strong><%= i + 1 %>.</strong>   <%= recipe.directions[i] %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
  </div>

  <!-- special notes -->
  <div class="mt-5">
    <h2 class="text-center google-font display-4"><strong>Special Notes</strong></h2>
    <p class="text-center"><%= recipe.specialNotes %></p>
  </div>

  <!-- edit button -->
  <div class="mb-3 mt-3">
    <%- include('partials/edit-recipe-modal') -%>
  </div>

</div>

<%- include('partials/profile-recipe-footer') -%>
