<%- include('partials/master-header') -%>

<!-- user name and total ingredients container -->
<div class="container mt-5 text-light">
    <div class="row">
        <div class="col-md-6 mt-3 mb-3 mx-auto">
            <h1 class="text-center h1"t>Hey there, <%- user.userName %>!</h1>
            <p class="text-center h4 mt-3">Check out all these <strong>dessert</strong> recipes!</p>
            <p class="text-center h4 mt-3">Other members of the community added these. You can click the heart icon when you view a recipe to add it your favorites for quick viewing later!</p> 
        </div>
    </div>
</div>

<!--Dessert cards container -->
<div class="container mt-3">

    <!-- All Dessert Container -->
    <div class="row mt-5">
      <h3 class="text-light border-bottom border-3 mb-3 google-font display-4">All Desserts</h3>
      <% recipes.forEach(recipe => { %>
          <% if (recipe.type === 'Dessert') { %>
              <div class="col-sm mb-3 d-flex justify-content-center">
                  <div class="card text-center" style="width: 18rem;">
                      <img src="<%= recipe.image %>" class="card-img-top" alt="...">
                      <div class="card-body">
                          <p class="card-title"><strong><%= recipe.recipeName %></strong></p>
                          <a href="/recipes/<%= recipe._id %>" class="btn btn-outline-primary">View Recipe</a>
                      </div>
                  </div>
              </div>
          <% } %>
      <% }) %>
    </div>

    <!-- Gluten-Free Dessert Container -->
    <div class="row mt-5">
      <h3 class="text-light border-bottom border-3 mb-3 google-font display-4">Gluten-Free Desserts</h3>
      <% recipes.forEach(recipe => { %>
          <% if (recipe.type === 'Dessert' && recipe.glutenFree === true) { %>
              <div class="col-sm mb-3 d-flex justify-content-center">
                  <div class="card text-center" style="width: 18rem;">
                      <img src="<%= recipe.image %>" class="card-img-top" alt="...">
                      <div class="card-body">
                          <p class="card-title"><strong><%= recipe.recipeName %></strong></p>
                          <a href="/recipes/<%= recipe._id %>" class="btn btn-outline-primary">View Recipe</a>
                      </div>
                  </div>
              </div>
          <% } %>
      <% }) %>
    </div>

    <!-- Vegan Dessert Container -->
    <div class="row mt-5">
      <h3 class="text-light border-bottom border-3 mb-3 google-font display-4">Vegan Desserts</h3>
      <% recipes.forEach(recipe => { %>
          <% if (recipe.type === 'Dessert' && recipe.vegan === true) { %>
              <div class="col-sm mb-3 d-flex justify-content-center">
                  <div class="card text-center" style="width: 18rem;">
                      <img src="<%= recipe.image %>" class="card-img-top" alt="...">
                      <div class="card-body">
                          <p class="card-title"><strong><%= recipe.recipeName %></strong></p>
                          <a href="/recipes/<%= recipe._id %>" class="btn btn-outline-primary">View Recipe</a>
                      </div>
                  </div>
              </div>
          <% } %>
      <% }) %>
    </div>

    <!-- Vegetarian Dessert Container -->
    <div class="row mt-5">
      <h3 class="text-light border-bottom border-3 mb-3 google-font display-4">Vegetarian Desserts</h3>
      <% recipes.forEach(recipe => { %>
          <% if (recipe.type === 'Dessert' && recipe.vegetarian === true) { %>
              <div class="col-sm mb-3 d-flex justify-content-center">
                  <div class="card text-center" style="width: 18rem;">
                      <img src="<%= recipe.image %>" class="card-img-top" alt="...">
                      <div class="card-body">
                          <p class="card-title"><strong><%= recipe.recipeName %></strong></p>
                          <a href="/recipes/<%= recipe._id %>" class="btn btn-outline-primary">View Recipe</a>
                      </div>
                  </div>
              </div>
          <% } %>
      <% }) %>
    </div>

</div>

<%- include('partials/profile-footer') -%>